body {
	background: darkgrey;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%; 
}

#menu {
    width: 95%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightgreen;
    overflow: hidden;
    position: fixed;
    top: 0;
}

li {
    float: left;    
}

li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
		
#header {
	color: darkmagenta;
}
		
#wrap {
    margin-top: 45px;
    width: 100%;
    margin-bottom: 10px;
}
		
#content {
	background: #ffffff;
	text-align: justify;
    margin-bottom: 20px;
	padding: 20px;
}

image {
    align-content: center;
}

#taust{ /* taust, mis peidab lehe sisu */
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	z-index:5;
}
#tabel{ /* toob suure pildi esile ja määrab kuvamise ala tabelina */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin:0 auto;
	z-index: 10;
	display:table;
  	width:100%;
  	height:100%;
  	color:white;
}
#cell{ /* paigutab pildi ja teksti vertikaalselt keskele nagu tabelivälja */
	display:table-cell;
  	vertical-align:middle;
}
#sisu { /* teeb pildi ümbruse kitsamaks ja annab tausta */
	display: table;
	margin: auto;
	background: rgba(0,0,0,0.7);
	padding: 10px;
}
#sulge { /* sulgemise element */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 15;
	padding:4px;
	font-weight: bold;
}
#hoidja {  /* ümbritseb kogu suure pildi elementide hulka 0px kõrgusena, et teised elemendid taga oleks kasutatavad*/
	height: 0px;
}
		