table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    width: 200px;
    height: 30px;
    padding: 5px;
    text-align: center;
}

caption {
    padding: 15px;
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}
