#master {
    height: 200px;
    width: 200px;
    position: fixed;
    left: 450px;
    top: 150px;
}

.inner{
    border-radius: 50%;
    position: absolute;
}

.inner:nth-child(1) {
    height: 95%;
    width: 95%;
    background-color: white;
    border: solid black;
    left: 2.5%;
    top: 2.5%;
}

.inner:nth-child(2) {
    height: 90%;
    width: 90%;
    background-color: red;
    border: solid black;
    left: 5%;
    top: 5%;
}

.inner:nth-child(3) {
    height: 70%;
    width: 70%;
    background-color: white;
    border: solid black;
    left: 15%;
    top: 15%;
}

.inner:nth-child(4) {
    height: 50%;
    width: 50%;
    background-color: red;
    border: solid black;
    left: 25%;
    top: 25%;
}

.inner:nth-child(5) {
    height: 30%;
    width: 30%;
    background-color: white;
    border: solid black;
    left: 35%;
    top: 35%;
}

.inner:nth-child(6) {
    height: 10%;
    width: 10%;
    background-color: red;
    border: solid black;
    left: 45%;
    top: 45%;
}

#duck {
    width: 100%;
    position: fixed;
    bottom: 250px;
    left: 0px;
}