</div>

<div id="hoidja" style="display:none;">
    <div id="taust"></div>
    <div id="tabel">
        <div id="cell">
            <button id="sulge" onclick="hideDetails();">Sulge</button>
            <div id="sisu">
                <img id="suurpilt" src="img/dishonored_800x450.jpg" alt="ajutine" /><br/>
            </div>
        </div>
    </div>
</div>

<div class="validator">
    <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer"><img src="http://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!" /></a>
</div>

</body>

</html>