.bead {
    height: 50px;
    width: 50px;
    background-color: lightblue;
    border-radius: 50%;
    box-shadow: 2px 3px black inset;
    float: right;
    margin-top: -25px;
}

.row {
    clear: both;
    border: solid grey;
    margin-top: 50px;
}

#frame {
    border: 10px outset lightsalmon;
    padding-bottom: 50px;
}

.inverse {
    float: left;
}