﻿<p>Suurendamiseks klõpsa pildil:</p>
<div>
	<a href="pic1detail.html"><img src="thumb/assassinscreed_150x84.jpg" alt="No image" /></a>&nbsp
	<a href="pic2detail.html"><img src="thumb/bioshock_150x84.jpg" alt="No image" /></a>&nbsp
	<a href="pic3detail.html"><img src="thumb/dishonored_150x84.jpg" alt="No image" /></a>&nbsp
	<a href="pic4detail.html"><img src="thumb/halo5_150x84.jpg" alt="No image" /></a>&nbsp
	<a href="pic5detail.html"><img src="thumb/stalker_150x84.jpg" alt="No image" /></a>
</div>