﻿<form action="login_action.php" method="POST">
	<table>
		<tr>
			<td align="right">Kasutajanimi:</td>
			<td align="left"><input type="text" name="ins_username" /></td>
		</tr>
		<tr>
			<td align="right">Parool:</td>
			<td align="left"><input type="password" name="ins_password" /></td>
		</tr>
		<tr>
			<td></td>
			<td align="left"><input type="submit" name="submit_formdata" value="Logi sisse" /></td>
		</tr>
	</table>
</form>
<p>Kui sul pole veel kontot, palun registreeri uus kasutaja siin:</p>
<button><a href="register.html">Uus konto</a></button><br/><br/>