﻿<h2 id="header">Tere tulemast!</h2>
<p>See on minu galeriileht, mida hakkan täiendama vastavalt praktikumides õpitud funktsionaalsustele!</p>
<p>
	"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</p>
<p>
	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
	cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
</p>