﻿<p>
	Registreeri uus kasutaja:</p>
<form action="signin_action.php" method="POST">
	<table>
		<tr>
			<td align="right">Kasutajanimi:</td>
			<td align="left"><input type="text" name="reg_username" /></td>
		</tr>
		<tr>
			<td align="right">Parool:</td>
			<td align="left"><input type="password" name="reg_password" /></td>
		</tr>
		<tr>
			<td align="right">Parool uuesti:</td>
			<td align="left"><input type="password" name="reg_password2" /></td>
		</tr>
		<tr>
			<td></td>
			<td align="left"><input type="submit" name="reg_formdata" value="Ok" /></td>
		</tr>
	</table>
</form>