body {
	background: darkgrey;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%; 
}

#menu {
    width: 95%;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: lightgreen;
    overflow: hidden;
    position: fixed;
    top: 0;
}

li {
    float: left;    
}

li a {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
		
#header {
	color: darkmagenta;
}
		
#wrap {
    margin-top: 45px;
    width: 100%;
    margin-bottom: 10px;
}
		
#content {
	background: #ffffff;
	text-align: justify;
    margin-bottom: 20px;
    padding: 20px;
}

image {
    align-content: center;
}
	