﻿<form enctype="multipart/form-data" action="main.html" method="POST">
	<table>
		<tr>
			<td align="right">Pealkiri:</td>
			<td align="left"><input type="text" name="title" /></td>
		</tr>
		<tr>
			<td align="right">Autor:</td>
			<td align="left"><input type="text" name="author" /></td>
		</tr>
		<tr>
			<td align="right">Suur pilt:</td>
			<td align="left"><input type="file" name="largepic" /></td>
		</tr>
		<tr>
			<td align="right">Väike pilt:</td>
			<td align="left"><input type="file" name="smallpic" /></td>
		</tr>
		<tr>
			<td></td>
			<td align="left"><input type="submit" name="upload_items" value="Laadi üles" /></td>
		</tr>
	</table>
</form>

<p>Kui sul pole veel kontot, palun registreeri uus kasutaja siin:</p>
<button><a href="register.html">Uus konto</a></button>