﻿<div id="gallery">

    <?php

    foreach($GLOBALS['images'] as $image) {
        $imageSize = getimagesize($image['small']);
        echo "<a href=\"?mode=image&id=" . current($image) . "\">\n";
        echo "\t<img src=\"" . $image['small'] . "\" alt=\"" . $image['alt'] . "\" " . $imageSize[3] . ">\n";
        echo "</a>\n";
    }

    ?>

</div>